<html>
<head>
<meta charset="utf-8">
<title>字典</title>
<link rel="stylesheet" href="${ui}/css/layui.css">
<link rel="stylesheet" href="${ctx}/css/content.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
	<form class="layui-form layui-form-pane" id="search-form">
			<div class="layui-form-item">
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">编号:</label>
					<input type="text" value="" name="id" placeholder="编号" class="layui-input">
				</div>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">数据值:</label>
					<input type="text" value="" name="value" placeholder="数据值" class="layui-input">
				</div>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">标签名:</label>
					<input type="text" value="" name="key" placeholder="标签名" class="layui-input">
				</div>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">类型:</label>
					<input type="text" value="" name="type" placeholder="类型" class="layui-input">
				</div>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">描述:</label>
					<input type="text" value="" name="description" placeholder="描述" class="layui-input">
				</div>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">排序（升序）:</label>
					<input type="text" value="" name="sort" placeholder="排序（升序）" class="layui-input">
				</div>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">父级编号:</label>
					<input type="text" value="" name="parentId" placeholder="父级编号" class="layui-input">
				</div>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">备注信息:</label>
					<input type="text" value="" name="remarks" placeholder="备注信息" class="layui-input">
				</div>
				<a class="layui-btn" href="javascript:search(1);">查询</a>
				<a class="layui-btn" href="add.html">新增</a>
			</div>
		</form>
		<div class="layui-form">
		  <table class="layui-table">
		    <thead>
		      <tr>
		        <th>序号</th>
			   	<th entity-name="id">编号</th>
			   	<th entity-name="value">数据值</th>
			   	<th entity-name="key">标签名</th>
			   	<th entity-name="type">类型</th>
			   	<th entity-name="description">描述</th>
			   	<th entity-name="sort">排序（升序）</th>
			   	<th entity-name="parentId">父级编号</th>
			   	<th entity-name="remarks">备注信息</th>
<th>操作</th>		      </tr>
		    </thead>
		    <tbody id="tb-td">
		    </tbody>
		  </table>
		</div>
</div>
<div class="grid-page">
	<div id="grid-page"></div>
</div>
<div id="LAY_democodejs">
<script src="${ctx}/js/jquery.min.js" charset="utf-8"></script>
<script src="${ui}/lay/dest/layui.all.js" charset="utf-8"></script>
<script src="${ctx}/js/common.js" charset="utf-8"></script>
<script src="${ctx}/js/content.js" charset="utf-8"></script>
</div>
</body>
</html>