 <div class="layui-header header header-demo">
  <div class="layui-main">
    <a class="logo" href="/">
      <img src="#" alt="layui">
    </a>
    <ul class="layui-nav" id="menu">
       <li class="layui-nav-item">
           <a href="javascript:;" data-fid="0">
               <i class="fa fa-send-o"></i>
               <cite>站点</cite>
           </a>
       </li>
       <li class="layui-nav-item site-nav-layim">
           <a href="javascript:;" data-fid="32">
               <i class="fa fa-cube"></i>
               <cite>手机/微信</cite>
           </a>
       </li>c
       <li class="layui-nav-item site-nav-layim">
           <a href="javascript:;" data-fid="28">
               <i class="fa fa-server"></i>
               <cite>VIP功能</cite>
           </a>
       </li>
       <li class="layui-nav-item site-nav-layim">
           <a href="javascript:;" data-fid="1,20">
               <i class="fa fa-cog"></i>
               <cite>配置</cite>
           </a>
       </li>
    </ul>
				
	<ul class="layui-nav" style="right:0;margin:0">
		<li class="layui-nav-item">
			<a href="javascript:void(0);" id="Fullscreen"  >退出全屏</a>
		</li>

		<li class="layui-nav-item">
			<a href="http://html5.0917cc.com" target="_blank">预览网站</a>
		</li>
		<li class="layui-nav-item">
			<a href="/app/wap/" target="_blank">手机网站</a>
		</li>
		<li class="layui-nav-item">
			<a href="javascript:void(0)" id="style_admin">个性化配置</a>
		</li>

		<li class="layui-nav-item">
			<a href="javascript:;" class="admin-header-user">
				<img src="" style="width: 40px; height: 40px; border-radius: 100%;" />
				<span>${me.name}</span>
			</a>
			<dl class="layui-nav-child my_top_menu">
				<dd>
					<a href="javascript:void(0);" url="/WebSystems/sysadmin_main.php?pid=1&ppid=1"  icon="&#xe69c;" title="个人信息" class="frame_Add"><i class="fa fa-user-circle" aria-hidden="true"></i> 个人信息</a>
				</dd>
				<dd>
					<a  href="javascript:void(0);" url="/WebSystems/admin_usermyedit.php" icon="&#xe613;" title="修改密码" class="frame_Add"><i class="fa fa-gear" aria-hidden="true"></i> 修改密码</a>
				</dd>
				<dd>
					<a href="/logout" data-rturl="/WebSystems/logout.php" data-href="/WebSystems/logout.php" data-type="doLoginOut" class="do-admin"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a>
				</dd>
			</dl>
		</li>
	</ul>
  </div>
</div>