
<html>
<head>
<meta charset="utf-8">
<title>管理系统</title>
<%include("/base/css.html"){} %>
<link rel="stylesheet" href="${ctx}/css/demo.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <%include("header.html"){} %>
  <%include("sidebar.html"){} %>
  <%include("content.html"){} %>
  <%include("footer.html"){} %>
</div>
  <div id="LAY_democodejs">
<script src="${ctx}/js/jquery.min.js" charset="utf-8"></script>
<%include("/base/js.html"){} %>
<script src="${ctx}/js/tab.js" charset="utf-8"></script>
<script>

var tab = null;
$(function(){
	tab = new Tab("content_tab");
	$('#sidebar').find('a[onclick]')[0].click();
});
// layui.use(['laypage'], function(){
// // 	var element = layui.element(); //Tab的切换功能，切换事件监听等，需要依赖element模块
// // 	//分页
// // 	layui.laypage({
// // 		cont: 'grid-page'
// // 		,pages: 10
// // 		,skip: true
// // 	});
// 	tab = new Tab("content_tab");
// 	tab.tabShowCallBack = function(id) {
// // 		alert(id);
// 	}
// });
</script>
</div>
</body>
</html>