 <div class="layui-side layui-bg-black" id="sidebar">
   <div class="layui-side-scroll">
	<ul class="layui-nav layui-nav-tree site-demo-nav">
	  <li class="layui-nav-item layui-nav-itemed">
		<a class="javascript:;" href="javascript:;">开发工具</a>
		<dl class="layui-nav-child">
		  <dd>
			<a href="javascript:;" onclick="tab.add('11','fa fa-money','字典','/sys/dict/index.html')" >字典</a>
		  </dd>
		</dl>
	  </li>
	  <li class="layui-nav-item layui-nav-itemed">
		<a class="javascript:;" href="javascript:;">基本元素</a>
		<dl class="layui-nav-child">
<!-- 		  <dd class=""> -->
<!-- 			<a class="site-demo-active" data-type="tabAdd">按钮组</a> -->
<!-- 		  </dd> -->
<!-- 		  <dd class=""> -->
<!-- 			<a class="site-demo-active" data-type="tabChange">表单集合</a> -->
<!-- 		  </dd> -->
		  <dd class="">
			<a href="javascript:;" onclick="tab.add('31','fa fa-money','用户','/sys/user/index.html')" >用户</a>
		  </dd>
<!-- 		  <dd class="layui-this"> -->
<!-- 			<a href="/demo/tab.html">选项卡</a> -->
<!-- 		  </dd> -->
<!-- 		  <dd class=""> -->
<!-- 			<a href="/demo/progress.html">进度条</a> -->
<!-- 		  </dd> -->
<!-- 		  <dd class=""> -->
<!-- 			<a href="/demo/collapse.html">折叠面板</a> -->
<!-- 		  </dd> -->
<!-- 		  <dd class=""> -->
<!-- 			<a href="/demo/table.html">基本表格</a> -->
<!-- 		  </dd> -->
<!-- 		  <dd class=""> -->
<!-- 			<a onclick="alert(12312);console.log(tab.add);tab.add('31','fa fa-money','简单辅助元素','/recharge/list.html');" href="javascript:;">简单辅助元素</a> -->
<!-- 		  </dd> -->
		</dl>
	  </li>
	  <!--<li class="layui-nav-item" style="height: 30px; text-align: center"></li> -->
	</ul>

   </div>
 </div>
