<html>
<head>
<meta charset="utf-8">
<title>${table.remarks}</title>
<link rel="stylesheet" href="\${ui}/css/layui.css">
<link rel="stylesheet" href="\${ctx}/css/content.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
	<form class="layui-form layui-form-pane" id="search-form">
			<div class="layui-form-item">
				<%
			   	for(colunm in table.columns){ 
			   	%>
			   	<div class="layui-input-inline">
			   	<label class="layui-form-label">${colunm.remarks}:</label>
					<input type="text" value="" name="${colunm.attrName}" placeholder="${colunm.remarks}" class="layui-input">
				</div>
			   <%
			   	}
			   %> 
				<a class="layui-btn" href="javascript:search(1);">查询</a>
				<a class="layui-btn" href="add.html">新增</a>
			</div>
		</form>
		<div class="layui-form">
		  <table class="layui-table">
		    <thead>
		      <tr>
		        <th>序号</th>
		        <%
			   	for(colunm in table.columns){ 
			   	%>
			   	<th entity-name="${colunm.attrName}">${colunm.remarks}</th>
			   <%
			   	}
			   %><th>操作</th>
		      </tr>
		    </thead>
		    <tbody id="tb-td">
		    </tbody>
		  </table>
		</div>
</div>
<div class="grid-page">
	<div id="grid-page"></div>
</div>
<div id="LAY_democodejs">
<script src="\${ctx}/js/jquery.min.js" charset="utf-8"></script>
<script src="\${ui}/lay/dest/layui.all.js" charset="utf-8"></script>
<script src="\${ctx}/js/common.js" charset="utf-8"></script>
<script src="\${ctx}/js/content.js" charset="utf-8"></script>
</div>
</body>
</html>