<html>
<head>
	<meta charset="utf-8">
	<title>${title}</title>
	<link rel="stylesheet" href="${ctx}/ztree/css/zTreeStyle/zTreeStyle.css">
	<link rel="stylesheet" href="${ui2}/css/layui.css">
	<link rel="stylesheet" href="${ctx}/css/addOrEdit.css">
	<style>
		.editor{  width:1000px;}/**设置编辑器高度**/
	</style>
</head>
<body>
<section class="dx-info-default">
	<div class="dx-info-box type-add">
		<form class="layui-form" action="">
			<div class="layui-form-item" <%if(has(idDisplayNone)){%> style="display:none"<%}%>>
			<label class="layui-form-label">id</label>
			<div class="layui-input-block dx-input-required">                <input <%if(has(idDisabled)){%>disabled<%}%> type="text" value="${obj.id!}" name="id"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
			</div>
	</div>
	<div class="layui-form-item" <%if(has(categoryIdDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">目录id</label>
	<div class="layui-input-block">
		<input   onclick="showMenu();" <%if(has(categoryIdDisabled)){%>disabled<%}%> type="text" value="${obj.categoryId!}" id="categoryId" name="categoryId"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	</div>
	</div>
	<div class="layui-form-item" <%if(has(titleDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">文章名称</label>
	<div class="layui-input-block">                <input <%if(has(titleDisabled)){%>disabled<%}%> type="text" value="${obj.title!}" name="title"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	</div>
	</div>

	<div class="layui-form-item" <%if(has(statusDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">状态</label>
	<div class="layui-input-block">                <input <%if(has(statusDisabled)){%>disabled<%}%>  type="radio" name="status" value="显示" title="显示" <%if(has(obj)&&obj.status=="显示"){%>checked=""<%}%> >
		<input <%if(has(statusDisabled)){%>disabled<%}%>  type="radio" name="status" value="隐藏" title="隐藏" <%if(has(obj)&&obj.status=="隐藏"){%>checked=""<%}%> >
	</div>
	</div>
	<div class="layui-form-item" <%if(has(isCommentDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">是否评论</label>
	<div class="layui-input-block">                <input <%if(has(isCommentDisabled)){%>disabled<%}%>  type="radio" name="isComment" value="是" title="是" <%if(has(obj)&&obj.isComment=="是"){%>checked=""<%}%> >
		<input <%if(has(isCommentDisabled)){%>disabled<%}%>  type="radio" name="isComment" value="否" title="否" <%if(has(obj)&&obj.isComment=="否"){%>checked=""<%}%> >
	</div>
	</div>
	<div class="layui-form-item" <%if(has(isRecommendDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">是否推荐</label>
	<div class="layui-input-block">                <input <%if(has(isRecommendDisabled)){%>disabled<%}%>  type="radio" name="isRecommend" value="是" title="是" <%if(has(obj)&&obj.isRecommend=="是"){%>checked=""<%}%> >
		<input <%if(has(isRecommendDisabled)){%>disabled<%}%>  type="radio" name="isRecommend" value="否" title="否" <%if(has(obj)&&obj.isRecommend=="否"){%>checked=""<%}%> >
	</div>
	</div>

	<div class="layui-form-item" <%if(has(sortDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">排序</label>
	<div class="layui-input-block">                <input <%if(has(sortDisabled)){%>disabled<%}%> type="number" value="${obj.sort!}" name="sort"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	</div>
	</div>
	<div class="layui-form-item" <%if(has(hrefDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">跳转地址</label>
	<div class="layui-input-block">                <input <%if(has(hrefDisabled)){%>disabled<%}%> type="text" value="${obj.href!}" name="href"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	</div>
	</div>
	<div class="layui-form-item" <%if(has(imageUrlDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">图片路径</label>

	<div class="layui-input-block">
		<img id="upload-img" src="${obj.imageUrl!}" style="width:105px;height:80px;">
		<input style="display:none" type="text" value="${obj.imageUrl!}" name="imageUrl" id="imageUrl" class="layui-input layui-form-danger">
	</div>
	</div>
	<div class="layui-form-item" <%if(has(approveStatusDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">审核状态</label>
	<div class="layui-input-block">                <input <%if(has(approveStatusDisabled)){%>disabled<%}%> type="text" value="${obj.approveStatus!}" name="approveStatus"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	</div>
	</div>
	<div class="layui-form-item" <%if(has(remarksDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">备注信息</label>
	<div class="layui-input-block">                <input <%if(has(remarksDisabled)){%>disabled<%}%> type="text" value="${obj.remarks!}" name="remarks"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	</div>
	</div>
	<div class="layui-form-item" <%if(has(contentDisplayNone)){%> style="display:none"<%}%>>
	<label class="layui-form-label">内容</label>
	<div class="layui-input-block" style="display:none">
		<textarea class="layui-textarea" id="content" name="content">
			${obj.content!}
		</textarea>
	</div>
	<div class="" style="margin-left:110px;">
		<div id="editor" class="editor">
			${obj.content!}
		</div>
	</div>
	</div>
	<br>

	<div class="layui-form-item form-btn-box">
		<div class="layui-input-block">
			<button type="button" class="layui-btn layui-btn-primary btn-simple-blue add-hide" onclick="window.history.go(-1);">取消</button>
			<button type="reset" class="layui-btn layui-btn-primary btn-simple-blue update-hide">重置</button>
			<button class="layui-btn" lay-submit="" lay-filter="info">提交</button>
		</div>
	</div>
	</form>
	</div>
</section>


<div id="menuContent" class="menuContent" style="display:none; position: absolute;background-color: #e2e2e2">
	<ul id="treeDemo" class="ztree" style="margin-top:0; width:180px; height: 300px;"></ul>
</div>

<div id="LAY_democodejs">
	<script src="${ctx}/js/jquery.min.js" charset="utf-8"></script>
	<script src="${ui2}/layui.all.js" charset="utf-8"></script>
	<script src="${ctx}/js/common.js" charset="utf-8"></script>
	<script src="${ctx}/js/addOrEdit.js" charset="utf-8"></script>
	<script src="${ctx}/ztree/js/jquery.ztree.all.min.js"></script>
	<script src="${ctx}/js/wangEditor.js"></script>
	<script>
        var editor;
		function getHtml(){
		    alert(editor.txt.html());
			return editor.txt.html();
		}
        function addEditInit(){
            //另外一个编辑框
            var E = window.wangEditor;
            editor = new E('#editor');
            editor.customConfig.uploadImgShowBase64 = true;
            editor.customConfig.uploadImgServer = '/file/uploadWangEditor';
            editor.customConfig.uploadFileName = 'file';
            editor.customConfig.onchange = function (html) {//配置onchange函数之后，用户操作（鼠标点击、键盘打字等）导致的内容变化之后，会自动触发onchange函数执行
                // html 即变化之后的内容
                $('#content').val(html);
            }
            editor.create();
//            $('#editor').attr('style','height:800');
            layui.form.on('switch(switch)', function(data){
//                console.log(data.elem); //得到checkbox原始DOM对象
//                console.log(data.elem.checked); //开关是否开启，true或者false
                data.elem.value=data.elem.checked?"1":"-1";
//                console.log(data.elem.value); //开关value值，也可以通过data.elem.value得到
				//开关关闭状态不会传值给from
//                console.log(data.othis); //得到美化后的DOM对象
            });
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        }



        var setting = {
            view: {
                dblClickExpand: false
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeClick: beforeClick,
                onClick: onClick
            }
        };
        //树
        var zNodes =${ztree};

        function beforeClick(treeId, treeNode) {
            var check = (treeNode && !treeNode.isParent);
            if (!check) alert("只能选择...");
            return check;
        }

        function onClick(e, treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                nodes = zTree.getSelectedNodes(),
                v = "";
            nodes.sort(function compare(a,b){return a.id-b.id;});
            for (var i=0, l=nodes.length; i<l; i++) {
                v += nodes[i].name + ",";
            }
            if (v.length > 0 ) v = v.substring(0, v.length-1);
            var cityObj = $("#categoryId");
//    cityObj.attr("value", v);
            cityObj.attr("value",nodes[0].id);
            hideMenu();
        }

        function showMenu() {
            var cityObj = $("#categoryId");
            var cityOffset = $("#categoryId").offset();
            $("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px"}).slideDown("fast");
            $("body").bind("mousedown", onBodyDown);
        }
        function hideMenu() {
            $("#menuContent").fadeOut("fast");
            $("body").unbind("mousedown", onBodyDown);
        }
        function onBodyDown(event) {
            if (!(event.target.id == "menuBtn" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
                hideMenu();
            }
        }

	</script>
</div>
</body>
</html>