<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- 	<include resource="org/springframework/boot/logging/logback/base.xml"></include> -->
	<!-- Console output -->
	<!--
	[ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] [%thread] %logger{96} [%line] - %msg%n
	由于是统一日志管理，所以%logger{96} [%line]  没有用了代码里面实现-
	%logger{96} 代表日志所对应的类，%line 对应的行数
	->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>
				[ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] [%thread] - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<!-- Only log level WARN and above -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>
	<appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/logs/ltsh.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/logs/ltsh-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>[ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] [%thread] - %msg%n</pattern>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="rollingAppender" />
	</root>
	<!--<root level="DEBUG">-->
		<!--<appender-ref ref="rollingAppender" />-->
	<!--</root>-->
</configuration>
