
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<title>爱看书-免费看-书荒救星</title>
<meta name="Keywords" content="爱看书 免费小说 TXT下载 小说下载网">
<meta name="Description" content="爱看书无弹窗小说下载网和在线阅读，提供免注册TXT下载，无注册书架、阅读无弹窗，免注册TXT下载，页面简洁清晰，更新速度快。看小说，就上我，看着就舒服，希望能得到你的喜欢。">
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta  content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<meta content="爱看书" name="apple-mobile-web-app-title" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="css/m.css" />
<script type="text/javascript" src="js/main.js"></script>
</head>
<body id="btop-info" >
<div class="body">
	<header class="header"><a href="http://m.22ff.com" class="logo" title="爱看书"></a></header>
	<nav class="nav">
		<a href="index.html" ${indexClass!}>首页</a>
		<a href="fenlei.html" ${fenleiClass!}>分类</a>
		<a href="search.html" ${searchClass!}>搜索</a>
		<a href="read.html" ${readClass!}>足迹</a>
		<a href="bookshelf.html" ${bookshelfClass!}>书架</a>
	</nav>
	${layoutContent}
</div>
<div class="push"></div>
<footer class="footer">
<p class="links"><a href="index.html">爱看书首页</a>
&nbsp;|&nbsp;<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=ff22.com@gmail%2Ecom" target="_blank" rel="nofollow">问题反馈</a>
&nbsp;|&nbsp;<a href="#btop-info" class="go_top">返回顶部</a></p>
<p>Copyright &#169; 爱看书手机版</p>
<div style="display: none"><script type="text/javascript">third.do();</script></div>
</footer>

</body>
</html>