<%layout("bookIndex.html",{indexClass:'class="current"'}){ %>
<div class="container">
	<section class="module_user unlogin" id="user-module">
		<div class="hd" id="user-module-inner">
			<div class="mod_left" id="loginPart">
				<a href="/login.htm" class="line">登录</a>
				<a href="/zhuce.htm">注册</a>
			</div>
			<div class="mod_right">
				<a href="/u/">书架&gt;</a>
			</div>
		</div>
		<!--div class="bd" id="message-box">
            <div class="message-remind"></div>
        </div-->
	</section>
	<section class="novel-detail">
		<div class="novel-cover">
			<div class="img"><img src="http://r.m.22ff.com/cover/aHR0cDovL3N0YXRpYy56b25naGVuZy5jb20vdXBsb2FkL2NvdmVyL2ZlLzk4L2ZlOThiNjhmMDYyN2VlMmIxZmVmMWI0NzhhOTgzNWNjLmpwZWc=" onerror="this.src=''" height="160" width="120"></div>
			<dl class="info">
				<dt><span class="space"><a href="http://m.22ff.com/xs/226680/">元尊</a></span></dt>
				<dd>
					<p>作者：天蚕土豆</p>
					<p>分类：<a href="/xuanhuan/">玄幻</a></p>
					<p>状态：连载</p>
					<p>最新章节：<a href="http://m.22ff.com/xs/226680/40084865/">第一百五十四章 金色玄蟒鳞</a></p>
				</dd>
			</dl>
		</div>
		<div id="ad1"><script type="text/javascript">try{adsense.info.ad1();}catch(ex){}</script></div>
		<div class="novel-desc">
			<p class="summary" id="shot">简介：吾有一口玄黄气，可吞天地日月星。
			</p>
		</div>
		<div id="ad2"><script type="text/javascript">try{adsense.info.ad2();}catch(ex){}</script></div>
		<div class="mod_book book_contents">
			<div class="hd"><h2 class="tit">目录</h2></div>
			<ul class="book_textList"><li><a href="http://m.22ff.com/xs/226680/40084865/">第一百五十四章 金色玄蟒鳞</a></li><li><a href="http://m.22ff.com/xs/226680/40078648/">第一百五十三章 以丈量源气</a></li><li><a href="http://m.22ff.com/xs/226680/40061888/">第一百五十二章 气冲天关</a></li><li><a href="http://m.22ff.com/xs/226680/40056078/">第一百五十一章 圣碑</a></li><li><a href="http://m.22ff.com/xs/226680/40040645/">第一百五十章 小天源术，大风雷</a></li>
			</ul>
			<div class="ft"><a class="a_link" href="http://m.22ff.com/xs/226680/">查看全部章节</a></div>
		</div>
	</section>
	<section class="tab">
		<div class="tab-titles">
			<a href="javascript:;" class="current" id="tab-1">站长推荐</a>
			<a href="javascript:;" id="tab-2">网友推荐</a>
		</div>
		<div class="tab-content" id="tab-1-content">
			<ul class="img_list">
				<li><a href="http://m.22ff.com/xs/180287/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzYxNDcxMy8xODA=" alt="科技之门"><span>科技之门</span></a></li>
				<li><a href="http://m.22ff.com/xs/223241/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwOTcwNDcxMi8xODA=" alt="牧神记"><span>牧神记</span></a></li>
				<li><a href="http://m.22ff.com/xs/224690/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwOTkxNTYwNS8xODA=" alt="奶爸的文艺人生"><span>奶爸的文艺人生</span></a></li>
				<li><a href="http://m.22ff.com/xs/189800/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3N0YXRpYy56b25naGVuZy5jb20vdXBsb2FkL2NvdmVyLzIwMTYvMDEvMTQ1NDAzOTgyOTcyNC5qcGc=" alt="一号红人"><span>一号红人</span></a></li>
			</ul>
			<ul class="book_textList">
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/178635/">从仙侠世界归来</a>/　发狂的妖魔</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/199309/">乡村小神医</a>/　牧梧</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/180662/">绝世药神</a>/　风一色(书坊)</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/200355/">捡个校花做老婆</a>/　梁少</li>
			</ul>
		</div>
		<div class="tab-content hidden" id="tab-2-content">
			<ul class="img_list">
				<li><a href="http://m.22ff.com/xs/226672/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAxMDQ2ODc5NS8xODA=" alt="飞剑问道"><span>飞剑问道</span></a></li>
				<li><a href="http://m.22ff.com/xs/157533/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMjQ5NDc1OC8xODA=" alt="武炼巅峰"><span>武炼巅峰</span></a></li>
				<li><a href="http://m.22ff.com/xs/178635/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzU0NDQyMS8xODA=" alt="从仙侠世界归来"><span>从仙侠世界归来</span></a></li>
				<li><a href="http://m.22ff.com/xs/178863/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMzU0MTA5NS8xODA=" alt="大明文魁"><span>大明文魁</span></a></li>
			</ul>
			<ul class="book_textList">
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/170048/">造化之王</a>/　猪三不</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/142924/">校花的贴身高手</a>/　鱼人二代</li>
				<li><i class="tag-blue">历史</i><a href="http://m.22ff.com/xs/174632/">三国之召唤猛将</a>/　青铜剑客</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/178258/">修真归来在都市</a>/　陌路行</li>
			</ul>
		</div>
		<script type="text/javascript">tabs('tab-1,tab-2');</script>
	</section>
	<section class="tab tab3">
		<div class="tab-titles">
			<a href="javascript:;" class="current" id="tab-4">玄幻</a>
			<a href="javascript:;" id="tab-5">奇幻</a>
			<a href="javascript:;" id="tab-6">修真</a>
		</div>
		<div class="tab-content" id="tab-4-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/193265/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3N0YXRpYy56b25naGVuZy5jb20vdXBsb2FkL2NvdmVyLzIwMTYvMDUvMTQ2MzEwNTU4MDM4Mi5qcGc=" alt="万域之王"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/193265/">万域之王</a></h3>
					<p>太古时代，有擎天巨灵，身如星辰，翱翔宙宇。有身怀异血的各族大尊，破灭虚空，再造天地，有古...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/224048/">万界至尊大领主</a> /　亚当德里亚</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/211657/">电影世界大冒险</a> /　仲渊</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/211402/">华夏大宗师</a> /　欧阳玉清</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/194243/">电影世界大夺宝</a> /　拍拍可乐</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/197426/">重生之我是大明星</a> /　向晚非雪</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/209987/">法师真解</a> /　沈老三</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/217778/">巫师亚伯</a> /　吃瓜子群众</li>
			</ul>
			<div class="listMore"><a href="/qihuan/">更多奇幻精品作品&gt;&gt;</a></div>
		</div>
		<div class="tab-content hidden" id="tab-5-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/204390/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwNDE0NDIzNi8xODA=" alt="穿越诸天万界"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/204390/">穿越诸天万界</a></h3>
					<p>一花一世界，一叶一菩提，笑傲，天龙，风云，仙剑，古剑，蜀山，阳神，洪荒……穿梭诸天万界，...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">武侠</i><a href="http://m.22ff.com/xs/192399/">最强反派系统</a> /　封七月</li>
				<li><i class="tag-blue">武侠</i><a href="http://m.22ff.com/xs/207077/">重生之武道无双</a> /　无名指的血祭</li>
				<li><i class="tag-blue">武侠</i><a href="http://m.22ff.com/xs/216717/">大杀戮系统</a> /　一梦已成神</li>
				<li><i class="tag-blue">武侠</i><a href="http://m.22ff.com/xs/184913/">白袍总管</a> /　萧舒</li>
				<li><i class="tag-blue">武侠</i><a href="http://m.22ff.com/xs/200651/">超级少年宗师</a> /　火龙果</li>
				<li><i class="tag-blue">武侠</i><a href="http://m.22ff.com/xs/209944/">穿入仙武</a> /　飞耀</li>
				<li><i class="tag-blue">武侠</i><a href="http://m.22ff.com/xs/223775/">武侠之气运至尊</a> /　剑君十二离</li>
			</ul>
			<div class="listMore"><a href="/wuxia/">更多武侠精品作品&gt;&gt;</a></div>
		</div>
		<div class="tab-content hidden" id="tab-6-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/211792/"><img src="http://r.i.22ff.com/cover/aHR0cDovL2ltZzEud3JpdGUucXEuY29tL3VwbG9hZC9jb3Zlci8yMDE2LTEwLTEyL2NiXzU3ZmRkZDNkNjM3OGIuanBn" alt="都市超品仙医"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/211792/">都市超品仙医</a></h3>
					<p>身怀逆天神功，拥有神奇医术，纵横在美女如云的花花都市，苏凌强势崛起，吊打一切，成就一段仙...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">仙侠</i><a href="http://m.22ff.com/xs/176430/">掠天记</a> /　黑山老鬼</li>
				<li><i class="tag-blue">仙侠</i><a href="http://m.22ff.com/xs/191945/">一念永恒</a> /　耳根</li>
				<li><i class="tag-blue">仙侠</i><a href="http://m.22ff.com/xs/173411/">九仙图</a> /　秋晨(书坊)</li>
				<li><i class="tag-blue">仙侠</i><a href="http://m.22ff.com/xs/195824/">不朽凡人</a> /　鹅是老五</li>
				<li><i class="tag-blue">仙侠</i><a href="http://m.22ff.com/xs/210591/">最强神话帝皇</a> /　任我笑</li>
				<li><i class="tag-blue">仙侠</i><a href="http://m.22ff.com/xs/169812/">大泼猴</a> /　甲鱼不是龟</li>
				<li><i class="tag-blue">仙侠</i><a href="http://m.22ff.com/xs/192701/">史上最牛轮回</a> /　那一抹绯红</li>
			</ul>
			<div class="listMore"><a href="/xianxia/">更多仙侠精品作品&gt;&gt;</a></div>
		</div>
		<script type="text/javascript">tabs('tab-4,tab-5,tab-6');</script>
	</section>

	<section class="tab tab3">
		<div class="tab-titles">
			<a href="javascript:;" class="current" id="tab-7">都市</a>
			<a href="javascript:;" id="tab-8">言情</a>
			<a href="javascript:;" id="tab-9">同人</a>
		</div>
		<div class="tab-content" id="tab-7-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/224944/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3N0YXRpYy56b25naGVuZy5jb20vdXBsb2FkL2NvdmVyL3NodWNoZW5nLzI1LzY3ODI1MDA2LmpwZw==" alt="万古天帝"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/224944/">万古天帝</a></h3>
					<p>天界第一战神，却因功高震主，遭挚爱背叛，死于洞房之夜。聂天重生百年之后，再不做殿下之臣！...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/179124/">超强手机系统</a> /　喵妖大王(书坊)</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/174512/">天域苍穹</a> /　风凌天下</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/181994/">无敌剑域</a> /　青鸾峰上</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/157533/">武炼巅峰</a> /　莫默</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/184241/">盖世帝尊</a> /　一叶青天</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/205832/">圣墟</a> /　辰东</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/176287/">太古神王</a> /　净无痕</li>
			</ul>
			<div class="listMore"><a href="/xuanhuan/">更多玄幻精品作品&gt;&gt;</a></div>
		</div>
		<div class="tab-content hidden" id="tab-8-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/211934/"><img src="http://r.i.22ff.com/cover/aHR0cDovL3FpZGlhbi5xcGljLmNuL3FkYmltZy8zNDk1NzMvMTAwNTA0MjQ5MC8xODA=" alt="抗日之铁血智将"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/211934/">抗日之铁血智将</a></h3>
					<p>574981重新回归抗战军事小说！临危受命反围剿！孤军深入建根据地！孤身一人下江南，看主角如何...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">军事</i><a href="http://m.22ff.com/xs/204017/">超级抗战系统</a> /　青山羊</li>
				<li><i class="tag-blue">军事</i><a href="http://m.22ff.com/xs/203894/">抗日之暴力军团</a> /　千煌</li>
				<li><i class="tag-blue">军事</i><a href="http://m.22ff.com/xs/181035/">抗日之特战兵王</a> /　寂寞剑客(书坊)</li>
				<li><i class="tag-blue">军事</i><a href="http://m.22ff.com/xs/57783/">重生之中国战神</a> /　炫酷非主流</li>
				<li><i class="tag-blue">军事</i><a href="http://m.22ff.com/xs/216609/">崛起军工</a> /　安溪柚</li>
				<li><i class="tag-blue">军事</i><a href="http://m.22ff.com/xs/194257/">一代战将</a> /　玗石页</li>
				<li><i class="tag-blue">军事</i><a href="http://m.22ff.com/xs/215355/">抗日之无敌战神</a> /　王存业</li>
			</ul>
			<div class="listMore"><a href="/junshi/">更多军事精品作品&gt;&gt;</a></div>
		</div>
		<div class="tab-content hidden" id="tab-9-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/195202/"><img src="http://r.i.22ff.com/cover/aHR0cDovL2ltYWdlLmNtZnUuY29tL2Jvb2tzLzEwMDM1MDQ2NTYvMTAwMzUwNDY1Ni5qcGc=" alt="史上最强店主"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/195202/">史上最强店主</a></h3>
					<p>商通万界，让所有人给我打工。周阳意外获得万界商铺系统，交易万千位面。“我曾举行一次小型拍...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/215150/">快穿系统：攻略狼性boss</a> /　君笙</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/189277/">我的时空穿梭手机</a> /　金色茉莉花</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/206331/">我的房间有扇任意门</a> /　五十块</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/209355/">电影剧情穿梭戒指</a> /　半包假烟</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/216593/">时空之穿越者</a> /　新人上路</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/208181/">极品掠夺系统</a> /　海里的羊</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/222658/">极品穿梭王者系统</a> /　青默歌</li>
			</ul>
			<div class="listMore"><a href="/kehuan/">更多科幻精品作品&gt;&gt;</a></div>
		</div>
		<script type="text/javascript">tabs('tab-7,tab-8,tab-9');</script>
	</section>

	<section class="tab tab3">
		<div class="tab-titles">
			<a href="javascript:;" class="current" id="tab-10">历史</a>
			<a href="javascript:;" id="tab-11">武侠</a>
			<a href="javascript:;" id="tab-12">游戏</a>
		</div>
		<div class="tab-content" id="tab-10-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/210646/"><img src="http://r.i.22ff.com/cover/aHR0cDovL2ltZzEud3JpdGUucXEuY29tL3VwbG9hZC9jb3Zlci8yMDE3LTAxLTAzL2NiXzU4NmIxOGZhZDI2YjQuanBn" alt="校园最强护花系统"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/210646/">校园最强护花系统</a></h3>
					<p>高冷校花要做他女朋友，温柔小护士要让他检查身体。火辣警花要住他家，霸道总裁要他帮忙。万恶...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/189800/">一号红人</a> /　山间老寺</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/200355/">捡个校花做老婆</a> /　梁少</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/187991/">神级仙医在都市</a> /　掠痕</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/178258/">修真归来在都市</a> /　陌路行</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/178635/">从仙侠世界归来</a> /　发狂的妖魔</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/216357/">我的手机通万界</a> /　七居士</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/203224/">极品清纯总裁</a> /　怜黛佳人</li>
			</ul>
			<div class="listMore"><a href="/dushi/">更多都市精品作品&gt;&gt;</a></div>
		</div>
		<div class="tab-content hidden" id="tab-11-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/200403/"><img src="http://r.i.22ff.com/cover/aHR0cDovL2ltYWdlLmNtZnUuY29tL2Jvb2tzLzM2OTE3NDYvMzY5MTc0Ni5qcGc=" alt="吻安，总裁夫人！"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/200403/">吻安，总裁夫人！</a></h3>
					<p>“强了我的第一次，你打算怎么还？”某女耍赖：“我那不是强，是……借！”“哦？那今晚，“借...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">言情</i><a href="http://m.22ff.com/xs/184782/">冷帝宠上天：腹黑狂妃</a> /　冰水仙</li>
				<li><i class="tag-blue">言情</i><a href="http://m.22ff.com/xs/217091/">重生1988：军少，我不嫁！</a> /　高山日初</li>
				<li><i class="tag-blue">言情</i><a href="http://m.22ff.com/xs/204407/">大总裁，小娇妻！</a> /　妃子一笑</li>
				<li><i class="tag-blue">言情</i><a href="http://m.22ff.com/xs/198921/">总裁大人，体力好！</a> /　封央</li>
				<li><i class="tag-blue">言情</i><a href="http://m.22ff.com/xs/208964/">欢宠田园，农女太子妃</a> /　湘紫</li>
				<li><i class="tag-blue">言情</i><a href="http://m.22ff.com/xs/217067/">重生九零年：军嫂，有点甜</a> /　沸腾的咖啡</li>
				<li><i class="tag-blue">言情</i><a href="http://m.22ff.com/xs/214520/">重生军婚：首长，早上好！</a> /　锦红鸾</li>
			</ul>
			<div class="listMore"><a href="/yanqing/">更多言情精品作品&gt;&gt;</a></div>
		</div>
		<div class="tab-content hidden" id="tab-12-content">


			<dl class="img_info">
				<dt><a href="http://m.22ff.com/xs/223673/"><img src="http://r.i.22ff.com/cover/aHR0cHM6Ly9pbWcxLndyaXRlLnFxLmNvbS91cGxvYWQvY292ZXIvMjAxNy0wNi0xMi9jYl81OTNlN2QzNzUwOTgzLmpwZw==" alt="网游之神级炼妖师"></a></dt>
				<dd>
					<h3><a href="http://m.22ff.com/xs/223673/">网游之神级炼妖师</a></h3>
					<p>地狱魔龙：你个死狗也想跟本尊斗，找死！江枫：爬虫，你别得意，马上你就会成为我进化的能量，...</p>
				</dd>
			</dl>
			<ul class="book_textList">
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/177695/">重生之最强剑神</a> /　天运老猫</li>
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/214623/">网游之奴役众神</a> /　一夜狂醉</li>
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/210096/">最强穿越直播系统</a> /　疯狂的飞刀</li>
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/206839/">网游之最强传说</a> /　八二年自来水</li>
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/195601/">网游之全球在线</a> /　笙箫剑客</li>
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/217098/">神级修炼系统</a> /　小知了</li>
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/207128/">英雄联盟之无敌抽奖系统</a> /　寒夜生花</li>
			</ul>
			<div class="listMore"><a href="/youxi/">更多游戏精品作品&gt;&gt;</a></div>
		</div>
		<script type="text/javascript">tabs('tab-10,tab-11,tab-12');</script>
	</section>

	<section class="mod_book">
		<div class="hd"><h3>最新更新</h3></div>
		<div class="bd">
			<ul class="book_textList">

				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/227337/">异界之武步天下</a> /　陈逸在映月坞</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/214309/">混沌丹神</a> /　一剑飘香</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/226607/">我——机械师</a> /　初矣非</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/181156/">龙王传说</a> /　唐家三少</li>
				<li><i class="tag-blue">历史</i><a href="http://m.22ff.com/xs/227256/">司礼监</a> /　傲骨铁心</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/157114/">龙血战神</a> /　风青阳</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/224400/">九苍魔帝</a> /　青程君</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/203049/">超级逆天升级系统</a> /　七个死小孩</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/211681/">九阳龙皇</a> /　逆破苍穹</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/227058/">权力之门</a> /　温岭闲人</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/229527/">重生梦想花开</a> /　那就微笑吧</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/230900/">风月宝鉴</a> /　羊城少帅</li>
				<li><i class="tag-blue">科幻</i><a href="http://m.22ff.com/xs/198778/">机械狂兵</a> /　小蘑菇</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/225842/">乾坤帝尊</a> /　半斤重的眼镜</li>
				<li><i class="tag-blue">奇幻</i><a href="http://m.22ff.com/xs/230327/">极品天后</a> /　南风零</li>
			</ul>
			<div class="listMore"><a href="http://m.22ff.com/last1.htm">更多更新&gt;&gt;</a></div>
		</div>
	</section>

	<section class="mod_book">
		<div class="hd"><h3>最新入库小说</h3></div>
		<div class="bd">
			<ul class="book_textList">

				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/230922/">图腾天王</a> /　符小妖</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230921/">一拳帝尊</a> /　格栗</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230920/">二次元对心</a> /　彼女猫</li>
				<li><i class="tag-blue">修真</i><a href="http://m.22ff.com/xs/230919/">离人剑</a> /　阿归</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230918/">邢夫人</a> /　黑猴兔</li>
				<li><i class="tag-blue">玄幻</i><a href="http://m.22ff.com/xs/230917/">战龙墟</a> /　梦入天雨</li>
				<li><i class="tag-blue">游戏</i><a href="http://m.22ff.com/xs/230916/">不一样的德鲁伊</a> /　懒朵</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230915/">重生美姬择君记</a> /　海灵心</li>
				<li><i class="tag-blue">历史</i><a href="http://m.22ff.com/xs/230914/">贫道有座观</a> /　叙吟</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/230913/">都市智囊团</a> /　李唐王</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230912/">头文字之超车帝</a> /　妖娆血花</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230911/">女帝的大内总管</a> /　狐不悲</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230910/">总裁老公请自重</a> /　馨小玥</li>
				<li><i class="tag-blue">都市</i><a href="http://m.22ff.com/xs/230909/">单身妇男</a> /　海西船长</li>
				<li><i class="tag-blue">其他</i><a href="http://m.22ff.com/xs/230908/">医品贵女</a> /　亘古一梦</li>
			</ul>
			<div class="listMore"><a href="http://m.22ff.com/new/">更多新书&gt;&gt;</a></div>
		</div>
	</section>

	<section class="mod_book">
		<div class="hd"><h3>友情链接</h3></div>
		<div class="bd">
			<ul class="book_textList">
				<li><a href="http://m.woquge.com" target="_blank">笔趣阁</a></li>
				<li><a href="http://www.boquge.com" target="_blank">赘婿</a></li>
				<li><a href="http://www.yuyouge.com" target="_blank">五行天</a></li>
			</ul>
		</div>
	</section>
</div>
<% } %>