         
<div class="layui-tab layui-tab-card" lay-allowClose="true" lay-filter="content_tab">
  <ul class="layui-tab-title site-demo-title">
<!-- 	<li class="layui-this">网站设置</li> -->
  </ul>
  <div class="layui-body layui-tab-content site-demo site-demo-body">
<!-- 	<div class="layui-tab-item layui-show">1111 -->
<!-- 	</div> -->

  </div>
</div>


<!-- <div class="layui-tab layui-tab-card" lay-allowClose="true" lay-filter="content_tab"> -->
<!--   <ul class="layui-tab-title site-demo-title"> -->
<!-- 	<li class="layui-this">网站设置</li> -->
<!-- 	<li lay-id="22">用户基本管理</li> -->
<!-- 	<li lay-id="44">表单集合</li> -->
<!-- 	<li>商品管理</li> -->
<!-- 	<li>订单管理</li> -->
<!--   </ul> -->
<!--   <div class="layui-body layui-tab-content site-demo site-demo-body"> -->
<!-- 	<div class="layui-tab-item layui-show"> -->
<!-- 		<form class="layui-form layui-form-pane" action="c"> -->
<!-- 			<div class="layui-form-item"> -->
<!-- 				<label class="layui-form-label">名称:</label> -->
<!-- 				<div class="layui-input-inline"> -->
<!-- 					<input type="text" value="" name="name" placeholder="根据项目名称过滤" class="layui-input"> -->
<!-- 				</div> -->
<!-- 				<button class="layui-btn" lay-submit>查询</button> -->
<!-- 				<a class="layui-btn" href="addOrEdit.html">新增</a> -->
<!-- 			</div> -->
<!-- 		</form> -->
<!-- 		<div class="layui-form"> -->
<!-- 		  <table class="layui-table"> -->
<!-- 		    <colgroup> -->
<!-- 		      <col width="50"> -->
<!-- 		      <col width="150"> -->
<!-- 		      <col width="150"> -->
<!-- 		      <col width="200"> -->
<!-- 		      <col> -->
<!-- 		    </colgroup> -->
<!-- 		    <thead> -->
<!-- 		      <tr> -->
<!-- 		        <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th> -->
<!-- 		        <th>人物</th> -->
<!-- 		        <th>民族</th> -->
<!-- 		        <th>出场时间</th> -->
<!-- 		        <th>格言</th> -->
<!-- 		      </tr>  -->
<!-- 		    </thead> -->
<!-- 		    <tbody> -->
<!-- 		      <tr> -->
<!-- 		        <td><input type="checkbox" name="" lay-skin="primary"></td> -->
<!-- 		        <td>贤心</td> -->
<!-- 		        <td>汉族</td> -->
<!-- 		        <td>1989-10-14</td> -->
<!-- 		        <td>人生似修行</td> -->
<!-- 		      </tr> -->
<!-- 		      <tr> -->
<!-- 		        <td><input type="checkbox" name="" lay-skin="primary"></td> -->
<!-- 		        <td>张爱玲</td> -->
<!-- 		        <td>汉族</td> -->
<!-- 		        <td>1920-09-30</td> -->
<!-- 		        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td> -->
<!-- 		      </tr> -->
<!-- 		      <tr> -->
<!-- 		        <td><input type="checkbox" name="" lay-skin="primary"></td> -->
<!-- 		        <td>Helen Keller</td> -->
<!-- 		        <td>拉丁美裔</td> -->
<!-- 		        <td>1880-06-27</td> -->
<!-- 		        <td> Life is either a daring adventure or nothing.</td> -->
<!-- 		      </tr> -->
<!-- 		      <tr> -->
<!-- 		        <td><input type="checkbox" name="" lay-skin="primary"></td> -->
<!-- 		        <td>岳飞</td> -->
<!-- 		        <td>汉族</td> -->
<!-- 		        <td>1103-北宋崇宁二年</td> -->
<!-- 		        <td>教科书再滥改，也抹不去“民族英雄”的事实</td> -->
<!-- 		      </tr> -->
<!-- 		      <tr> -->
<!-- 		        <td><input type="checkbox" name="" lay-skin="primary"></td> -->
<!-- 		        <td>孟子</td> -->
<!-- 		        <td>华夏族（汉族）</td> -->
<!-- 		        <td>公元前-372年</td> -->
<!-- 		        <td>猿强，则国强。国强，则猿更强！ </td> -->
<!-- 		      </tr> -->
<!-- 		    </tbody> -->
<!-- 		  </table> -->
<!-- 		</div> -->
<!-- 		<div id="grid-page"></div> -->
<!-- 	</div> -->
<!-- 	<div class="layui-tab-item"> -->
<!-- 		<div class="layui-main"> -->
<!-- 		  1. 我个人比较喜欢卡片风格的，所以你发现又是以卡片的风格举例 -->
<!-- 		  2. 删除功能适用于所有风格 -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="layui-tab-item"> -->
<!-- 	</div> -->
<!-- 	<div class="layui-tab-item">4</div> -->
<!-- 	<div class="layui-tab-item">5</div> -->
<!--   </div> -->
<!-- </div> -->