<div class="layui-footer footer footer-demo">
  <div class="layui-main">
    <p>&copy; 2017 <a href="/">409099585@qq.com</a></p>
<!--     <p> -->
<!--       <a href="http://fly.layui.com/case/2017/" target="_blank">案例</a> -->
<!--       <a href="http://fly.layui.com/jie/3147.html" target="_blank">捐赠</a> -->
<!--       <a href="javascript:layer.msg('暂无此页');">关于我们</a> -->
<!--       <a href="mailto:xianxin@layui.com">联系</a> -->
<!--       <a href="http://fly.layui.com/jie/4281.html" target="_blank">Git仓库</a> -->
<!--       <a href="http://fly.layui.com/jie/2461.html" target="_blank">微信公众号</a> -->
<!--     </p> -->
  </div>
</div>
				