 <div class="layui-side layui-bg-black" id="sidebar">
   <div class="layui-side-scroll">
	<ul class="layui-nav layui-nav-tree site-demo-nav">
		<%for(bo in sysMenuBos){%>
		<li class="layui-nav-item layui-nav-itemed">
			<a class="javascript:;" href="javascript:;">${bo.name}</a>
			<dl class="layui-nav-child">
			<%
				for(c in bo.children){
			%>
				<dd>
					<a href="javascript:;" onclick="tab.add('${c.id}','${c.icon}','${c.name}','${c.href}')" >${c.name}</a>
				</dd>
			<%
				}
			%>
			</dl>
		</li>
		<%
			}
		%>
   </div>
 </div>
