<html>
<head>
	<meta charset="utf-8">
	<title>栏目</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<%include("/base/css.html"){} %>
	<link rel="stylesheet" href="${ctx}/css/content2.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
	<form class="layui-form layui-form-pane" id="search-form">
		<div class="layui-form-item">
			<div class="layui-input-inline">
				<label class="layui-form-label">id:</label>
				<input type="text" value="" name="id" placeholder="id" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">父ID:</label>
				<input type="text" value="" name="parentId" placeholder="父ID" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">中文名:</label>
				<input type="text" value="" name="name" placeholder="中文名" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">模板路径:</label>
				<input type="text" value="" name="path" placeholder="模板路径" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">描述:</label>
				<input type="text" value="" name="content" placeholder="描述" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">排序:</label>
				<input type="text" value="" name="sort" placeholder="排序" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">状态隐藏显示:</label>
				<input type="text" value="" name="status" placeholder="状态隐藏显示" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">类型 1 普通目录 2 a标签 3 a标签_blank 4 直接加载url信息:</label>
				<input type="text" value="" name="type" placeholder="类型 1 普通目录 2 a标签 3 a标签_blank 4 直接加载url信息" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">跳转地址:</label>
				<input type="text" value="" name="href" placeholder="跳转地址" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">素材类型:</label>
				<input type="text" value="" name="materialType" placeholder="素材类型" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">站点ID:</label>
				<input type="text" value="" name="siteId" placeholder="站点ID" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">SEO标题:</label>
				<input type="text" value="" name="seoTitle" placeholder="SEO标题" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">SEO关键字:</label>
				<input type="text" value="" name="seoKeywords" placeholder="SEO关键字" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">SEO详情:</label>
				<input type="text" value="" name="seoDescription" placeholder="SEO详情" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">更新时间:</label>
				<input type="text" value="" name="updateTime" placeholder="更新时间" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">更新人:</label>
				<input type="text" value="" name="updateBy" placeholder="更新人" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">创建时间:</label>
				<input type="text" value="" name="createTime" placeholder="创建时间" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">创建者:</label>
				<input type="text" value="" name="createBy" placeholder="创建者" class="layui-input">
			</div>
			<div class="layui-input-inline">
				<a class="layui-btn" href="javascript:search();">查询</a><span></span>
				<a class="layui-btn" href="add.html">新增</a>
			</div>
		</div>
	</form>
	<div class="layui-form">
		<table id="layui-table" lay-filter="grid"></table>
	</div>
</div>
<div id="LAY_democodejs">
	<script src="${ctx}/js/jquery.min.js" charset="utf-8"></script>
	<%include("/base/js.html"){} %>
	<script src="${ctx}/js/common.js" charset="utf-8"></script>
	<script src="${ctx}/js/content2.js" charset="utf-8"></script>
	<script type="text/html" id="gridBar">
		<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
	<script>
        var tableIns=null;
        layui.use('table', function(){
            var table = layui.table;
            var height=getGridHeight();
            //第一个实例
            tableIns=table.render({
                elem: '#layui-table'
                ,height: 'full-'+height
                ,url: '/cms/category/list' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                {field: 'id', title: 'id' ,width:80},
                {field: 'parentId', title: '父ID' ,width:80},
                {field: 'name', title: '中文名' ,width:80},
                {field: 'path', title: '模板路径' ,width:80},
                {field: 'content', title: '描述' ,width:80},
                {field: 'sort', title: '排序' ,width:80},
                {field: 'status', title: '状态隐藏显示' ,width:80},
                {field: 'type', title: '类型 1 普通目录 2 a标签 3 a标签_blank 4 直接加载url信息' ,width:80},
                {field: 'href', title: '跳转地址' ,width:80},
                {field: 'materialType', title: '素材类型' ,width:80},
                {field: 'siteId', title: '站点ID' ,width:80},
                {field: 'seoTitle', title: 'SEO标题' ,width:80},
                {field: 'seoKeywords', title: 'SEO关键字' ,width:80},
                {field: 'seoDescription', title: 'SEO详情' ,width:80},
                {field: 'updateTime', title: '更新时间' ,width:80},
                {field: 'updateBy', title: '更新人' ,width:80},
                {field: 'createTime', title: '创建时间' ,width:80},
                {field: 'createBy', title: '创建者' },
                 {fixed: 'right', width:100, align:'center', toolbar: '#gridBar'} //这里的toolbar值是模板元素的选择器
                ]]
            	,request: tableRequest
				,response: tableResponse
            });
        });
	</script>
</div>
</body>
</html>