<html>
<head>
<meta charset="utf-8">
<title>${title}</title>
<link rel="stylesheet" href="${ui2}/css/layui.css">
<link rel="stylesheet" href="${ctx}/css/addOrEdit.css">
</head>
<body>
<section class="dx-info-default">
  <div class="dx-info-box type-add">
    <form class="layui-form" action="">
		<div class="layui-form-item" <%if(has(idDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">id</label>
	        <div class="layui-input-block dx-input-required">                <input <%if(has(idDisabled)){%>disabled<%}%> type="text" value="${obj.id!}" name="id"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(sourceDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">来源</label>
	        <div class="layui-input-block">                <input <%if(has(sourceDisabled)){%>disabled<%}%> type="text" value="${obj.source!}" name="source"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(nameDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">书本名字</label>
	        <div class="layui-input-block">                <input <%if(has(nameDisabled)){%>disabled<%}%> type="text" value="${obj.name!}" name="name"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(introDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">详情</label>
	        <div class="layui-input-block">                <input <%if(has(introDisabled)){%>disabled<%}%> type="text" value="${obj.intro!}" name="intro"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(writerDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">作者</label>
	        <div class="layui-input-block">                <input <%if(has(writerDisabled)){%>disabled<%}%> type="text" value="${obj.writer!}" name="writer"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(writerClickDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">作者点击</label>
	        <div class="layui-input-block">                <input <%if(has(writerClickDisabled)){%>disabled<%}%> type="text" value="${obj.writerClick!}" name="writerClick"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(statusDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">状态 完本连载停更</label>
	        <div class="layui-input-block">                <input <%if(has(statusDisabled)){%>disabled<%}%> type="text" value="${obj.status!}" name="status"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(lableDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">标签</label>
	        <div class="layui-input-block">                <input <%if(has(lableDisabled)){%>disabled<%}%> type="text" value="${obj.lable!}" name="lable"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(wordCountDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">字数</label>
	        <div class="layui-input-block">                <input <%if(has(wordCountDisabled)){%>disabled<%}%> type="text" value="${obj.wordCount!}" name="wordCount"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(beginDateDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">开始更新日期</label>
	        <div class="layui-input-block">                <input <%if(has(beginDateDisabled)){%>disabled<%}%> type="text" value="${obj.beginDate!,'yyyy-MM-dd HH:mm:ss'}" name="beginDate" autocomplete="off" placeholder="" class="layui-input layui-form-danger laydatetime">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(lastUpdateDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">最近更新</label>
	        <div class="layui-input-block">                <input <%if(has(lastUpdateDisabled)){%>disabled<%}%> type="text" value="${obj.lastUpdate!,'yyyy-MM-dd HH:mm:ss'}" name="lastUpdate"  autocomplete="off" placeholder="" class="layui-input layui-form-danger laydatetime">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(loveDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">喜欢人数</label>
	        <div class="layui-input-block">                <input <%if(has(loveDisabled)){%>disabled<%}%> type="text" value="${obj.love!}" name="love"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(shelfDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">书架添加数</label>
	        <div class="layui-input-block">                <input <%if(has(shelfDisabled)){%>disabled<%}%> type="text" value="${obj.shelf!}" name="shelf"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(showDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">是否显示</label>
	        <div class="layui-input-block">                <input <%if(has(showDisabled)){%>disabled<%}%> type="text" value="${obj.show!}" name="show"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(sortDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">排序</label>
	        <div class="layui-input-block">                <input <%if(has(sortDisabled)){%>disabled<%}%> type="text" value="${obj.sort!}" name="sort"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(clickDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">点击</label>
	        <div class="layui-input-block">                <input <%if(has(clickDisabled)){%>disabled<%}%> type="text" value="${obj.click!}" name="click"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
		<div class="layui-form-item" <%if(has(searchKeyDisplayNone)){%> style="display:none"<%}%>>
	        <label class="layui-form-label">搜索</label>
	        <div class="layui-input-block">                <input <%if(has(searchKeyDisabled)){%>disabled<%}%> type="text" value="${obj.searchKey!}" name="searchKey"  autocomplete="off" placeholder="" class="layui-input layui-form-danger">
	        </div>
      	</div>
      <br>

      <div class="layui-form-item form-btn-box">
        <div class="layui-input-block">
          <button type="button" class="layui-btn layui-btn-primary btn-simple-blue add-hide" onclick="window.history.go(-1);">取消</button>
          <button type="reset" class="layui-btn layui-btn-primary btn-simple-blue update-hide">重置</button>
          <button class="layui-btn" lay-submit="" lay-filter="info">提交</button>
        </div>
      </div>
    </form>
  </div>
</section>
<div id="LAY_democodejs">
<script src="${ctx}/js/jquery.min.js" charset="utf-8"></script>
<script src="${ui2}/layui.all.js" charset="utf-8"></script>
<script src="${ctx}/js/common.js" charset="utf-8"></script>
<script src="${ctx}/js/addOrEdit.js" charset="utf-8"></script>
</div>
</body>
</html>