
<div class="natives bottom_hz1"><div class="l"><script type="text/javascript" src="/plus/w1x8i0v6t.php?aid=18"></script></div><div class="r"><script type="text/javascript" src="/plus/w1x8i0v6t.php?aid=19"></script></div></div>
<div class="bottom_hz2"><script type="text/javascript" src="/plus/w1x8i0v6t.php?aid=23"></script></div>

<div class="footer">
  <div class="auto clearfix footer_bd">
    <div class="weixin_pic fleft">
      <h3>扫一扫，手机访问</h3>
      <p><script type="text/javascript">document.write("<img src=\"/templets/images/mqrcode.png\" />");</script></p>
    </div>
    <div class="about_us fleft">
      <h3>关于本站</h3>
      <ul>
        <li><a href="/service/about.html">关于我们</a></li>
        <li><a href="/data/sitemap.html">网站地图</a></li>
        <li><a href="/data/rssmap.html">RSS地图</a></li>
        <li><a href="/tags.php">Tag标签</a></li>
        <li><a href="/service/submitworks.html">原创投稿</a></li>
      </ul>
    </div>
    <div class="contact_us fleft">
      <h3>交流合作</h3>
      <ul>
        <li><a href="/service/message.html">在线留言</a></li>
        <li><a href="/service/qqgroup.html">设计QQ群</a></li>
        <li><a href="/plus/flink.php">友情链接</a></li>
        <li><a href="/service/ad.html">广告合作</a></li>
      </ul>
    </div>
    <div class="attention_us fleft">
      <h3>关注我们</h3>
      <ul>
        <li class="weibo"><a href="http://weibo.com/warting" target="_blank" rel="nofollow">新浪微博</a></li>
        <li class="t_qq"><a href="http://t.qq.com/warting2009" target="_blank" rel="nofollow">腾讯微博</a></li>
        <li class="huaban"><a href="http://huaban.com/warting/?md=warting_com" target="_blank" rel="nofollow">花瓣网</a></li>
        <li class="t_qzone"></li>
      </ul>
    </div>
    <div class="copyright fright">
      <h3>版权信息</h3>
      <p>本站发布的文字、图片及素材均来自互联网，仅供参考和学习，版权归原作者所有，切勿作商业用途。如果侵害了您的正常权益，请发邮件至admin$warting.com($换成@)与我们联系，我们将及时处理。</p>
      <p>Copyright&nbsp;&copy;&nbsp;2009-2015&nbsp;&nbsp;Warting.com&nbsp;&nbsp;All Rights Reserved<br /><a href="http://www.miibeian.gov.cn/" target="_blank" rel="nofollow">鄂ICP备12010480号-1</a></p>
    </div>
  </div>
</div>