<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="mobile-agent" content="format=html5; url=http://m.warting.com/news/" />
  <title>湛江</title>
  <meta name="keywords" content="湛江  参考 http://www.warting.com/news/  设计帝国" />
  <meta name="description" content="湛江" />
  <link rel="stylesheet" type="text/css" href="${ctx}/css/zj/index.css" />
  <style type="text/css">
  .mainleft{
    width:100%;
  }
  </style>
</head>
<body>

<%include("header.html"){} %>

<div class="auto clearfix main">
  <div class="mainleft">
    <div class="layout list_bd">
      ${index.content}
    </div>
  </div>
</div>
<%include("footer.html"){} %>

</body>
</html>