<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Cache-Control" content="no-transform" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <meta name="mobile-agent" content="format=html5; url=http://m.warting.com/news/" />
  <title>湛江</title>
  <meta name="keywords" content="湛江  参考 http://www.warting.com/news/  设计帝国" />
  <meta name="description" content="湛江" />
  <link rel="stylesheet" type="text/css" href="${ctx}/css/zj/index.css" />
</head>
<body>
<%include("header.html"){} %>

<div class="auto clearfix main">
  <div class="mainleft">
    <div class="layout list_bd">
      <div class="layout_hd">
        <h2>设计资讯</h2>
      </div>
      <div class="list_left_hz1"><script type="text/javascript" src="/plus/w1x8i0v6t.php?aid=21"></script></div>

      <div class="thum_article_list">
        <ul>
          <%for(obj in list){%>
          <li class="clearfix">
            <a href="/news/201706/227524.html" target="_blank" title="${obj.title}" class="pic"><img src="${obj.imageUrl}" alt="${obj.title}" onload="PicAuto(this)" class="lazy" /></a>
            <div class="text">
              <h3 class="title">[<a href="/news/appreciate/">${obj.title}</a>]&nbsp;<a href="/news/201706/227524.html" target="_blank" title="${obj.title}">${obj.title}</a></h3>
              <p class="publish"><span class="time">时间：${obj.createTime,'yyyy-MM-dd HH:mm:ss'}</span><span class="click ml">阅读：${obj.countView}</span></p>
              <p class="desc">${obj.content}</p>
            </div>
          </li>
          <%}%>
        </ul>
      </div>

      <div class="list_left_hz2"><script type="text/javascript" src="/plus/w1x8i0v6t.php?aid=13"></script></div>

      <%include("/base/page.html"){} %>
    </div>
  </div>
  <div class="mainright">
    <div class="layout">
      <div class="layout_hd"><h2>热门文章</h2></div>
      <ul class="text_list right_article_list">
        <li><a href="/news/201609/203126.html" target="_blank" title="林风眠简介及绘画作品欣赏">林风眠简介及绘画作品欣赏</a></li>
        <li><a href="/news/201607/186167.html" target="_blank" title="顿康活力饮蔬果冲剂酵素 使用说明">顿康活力饮蔬果冲剂酵素 使用说明</a></li>
        <li><a href="/news/201609/202988.html" target="_blank" title="字体为什么很重要？ 它代表了一种文化符号！">字体为什么很重要？ 它代表了一种文化符号！</a></li>
        <li><a href="/news/201612/213270.html" target="_blank" title="A'国际设计大奖赛作品征集">A'国际设计大奖赛作品征集</a></li>
        <li><a href="/news/201612/213272.html" target="_blank" title="坪山新区“智慧坪山”标志设计大赛">坪山新区“智慧坪山”标志设计大赛</a></li>
        <li><a href="/news/201703/221127.html" target="_blank" title="设计帝国铁杆粉丝招募！">设计帝国铁杆粉丝招募！</a></li>
        <li><a href="/news/201702/219388.html" target="_blank" title="2017年红点设计概念大奖征集">2017年红点设计概念大奖征集</a></li>
        <li><a href="/news/201704/225650.html" target="_blank" title="西岸X——区域视觉形象国际征集">西岸X——区域视觉形象国际征集</a></li>
        <li><a href="/news/201611/211591.html" target="_blank" title="中国福利彩票吉祥物征集评选结果揭晓">中国福利彩票吉祥物征集评选结果揭晓</a></li>
        <li><a href="/news/201607/186166.html" target="_blank" title="顿康肝胆排毒7件套 排肝胆毒素">顿康肝胆排毒7件套 排肝胆毒素</a></li>

      </ul>
    </div>

    <div class="mt list_right_hz3"><script type="text/javascript" src="/plus/w1x8i0v6t.php?aid=26"></script></div>

    <div class="layout mt">
      <div class="layout_hd">
        <h2>热门标签</h2>
        <div class="layout_hd_r">
          <a href="/tags.php" target="_blank" title="Tag标签">更多&gt;&gt;</a>
        </div>
      </div>
      <div class="clearfix hottag">

        <a href="/tags.php?/%B0%E6%BB%AD/1/" target="_blank" title="版画">版画</a>

        <a href="/tags.php?/%B9%A4%B1%CA%BB%AD/1/" target="_blank" title="工笔画">工笔画</a>

        <a href="/tags.php?/%BE%C6%B0%FC%D7%B0/1/" target="_blank" title="酒包装">酒包装</a>

        <a href="/tags.php?/%C3%A8%CD%BC%C6%AC/1/" target="_blank" title="猫图片">猫图片</a>

        <a href="/tags.php?/%D2%D5%CA%F5%C9%E3%D3%B0/1/" target="_blank" title="艺术摄影">艺术摄影</a>

        <a href="/tags.php?/%CE%A8%C3%C0%B2%E5%BB%AD/1/" target="_blank" title="唯美插画">唯美插画</a>

        <a href="/tags.php?/%B7%E7%B9%E2%C9%E3%D3%B0/1/" target="_blank" title="风光摄影">风光摄影</a>

        <a href="/tags.php?/%BD%A8%D6%FE%C9%E8%BC%C6/1/" target="_blank" title="建筑设计">建筑设计</a>

        <a href="/tags.php?/%B5%E7%D3%B0%BA%A3%B1%A8/1/" target="_blank" title="电影海报">电影海报</a>

        <a href="/tags.php?/%C8%CB%CE%EF%B2%E5%BB%AD/1/" target="_blank" title="人物插画">人物插画</a>

        <a href="/tags.php?/%CD%F8%D2%B3UI%C9%E8%BC%C6/1/" target="_blank" title="网页UI设计">网页UI设计</a>

        <a href="/tags.php?/%C6%A1%BE%C6%B0%FC%D7%B0/1/" target="_blank" title="啤酒包装">啤酒包装</a>

        <a href="/tags.php?/%C9%E8%BC%C6%BD%CC%B3%CC/1/" target="_blank" title="设计教程">设计教程</a>

        <a href="/tags.php?/%C9%E3%D3%B0%D2%D5%CA%F5/1/" target="_blank" title="摄影艺术">摄影艺术</a>

        <a href="/tags.php?/%CB%AE%B2%CA%B2%E5%BB%AD/1/" target="_blank" title="水彩插画">水彩插画</a>

        <a href="/tags.php?/%B9%FA%BB%AD%C9%BD%CB%AE/1/" target="_blank" title="国画山水">国画山水</a>

        <a href="/tags.php?/%CA%B3%C6%B7%B0%FC%D7%B0/1/" target="_blank" title="食品包装">食品包装</a>

        <a href="/tags.php?/logo%D0%C0%C9%CD/1/" target="_blank" title="logo欣赏">logo欣赏</a>

        <a href="/tags.php?/AI%BD%CC%B3%CC/1/" target="_blank" title="AI教程">AI教程</a>

        <a href="/tags.php?/%B5%C6%BE%DF%C9%E8%BC%C6/1/" target="_blank" title="灯具设计">灯具设计</a>

        <a href="/tags.php?/%CE%C0%C9%FA%BC%E4%D7%B0%D0%DE/1/" target="_blank" title="卫生间装修">卫生间装修</a>

        <a href="/tags.php?/%C7%C9%BF%CB%C1%A6%B0%FC%D7%B0/1/" target="_blank" title="巧克力包装">巧克力包装</a>

        <a href="/tags.php?/%D5%DB%D2%B3%C9%E8%BC%C6/1/" target="_blank" title="折页设计">折页设计</a>

        <a href="/tags.php?/%C5%AE%C9%FA%CD%BC%C6%AC/1/" target="_blank" title="女生图片">女生图片</a>

        <a href="/tags.php?/%B6%F9%CD%AF%B2%E5%BB%AD/1/" target="_blank" title="儿童插画">儿童插画</a>

        <a href="/tags.php?/%D0%A4%CF%F1%B2%E5%BB%AD/1/" target="_blank" title="肖像插画">肖像插画</a>

        <a href="/tags.php?/%D3%A2%D0%DB%C1%AA%C3%CB%B1%DA%D6%BD/1/" target="_blank" title="英雄联盟壁纸">英雄联盟壁纸</a>

        <a href="/tags.php?/%B7%E7%BE%B0%CA%D6%BB%FA%B1%DA%D6%BD/1/" target="_blank" title="风景手机壁纸">风景手机壁纸</a>

        <a href="/tags.php?/%B7%FE%D7%B0%C9%E8%BC%C6/1/" target="_blank" title="服装设计">服装设计</a>

        <a href="/tags.php?/%CC%EF%D4%B0%D7%B0%D0%DE%B7%E7%B8%F1/1/" target="_blank" title="田园装修风格">田园装修风格</a>

        <a href="/tags.php?/%BA%A3%B1%A8%C9%E8%BC%C6%BD%CC%B3%CC/1/" target="_blank" title="海报设计教程">海报设计教程</a>

        <a href="/tags.php?/%B9%FA%BB%AD%D7%F7%C6%B7/1/" target="_blank" title="国画作品">国画作品</a>

        <a href="/tags.php?/QQ%BF%A8%CD%A8%CD%B7%CF%F1/1/" target="_blank" title="QQ卡通头像">QQ卡通头像</a>

        <a href="/tags.php?/%C8%CB%CE%EF%D3%CD%BB%AD/1/" target="_blank" title="人物油画">人物油画</a>

        <a href="/tags.php?/%C6%BD%C3%E6%B9%E3%B8%E6/1/" target="_blank" title="平面广告">平面广告</a>

        <a href="/tags.php?/%B6%AF%C2%FE%B2%E5%BB%AD/1/" target="_blank" title="动漫插画">动漫插画</a>

      </div>
    </div>

    <div class="mt list_right_hz4"><script type="text/javascript" src="/plus/w1x8i0v6t.php?aid=11"></script></div>
  </div>
</div>

<%include("footer.html"){} %>
</body>
</html>